
body{
    background-color:#46a2fd;
}

.formulario{
    border-radius: 6px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    margin-bottom:100px;
    margin-top: 180px;
    height: 400px;
    flex-direction: column;
    background-color: floralwhite;
}
.formulario__titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0,0,0,0.7);
}

.formulario__submit{
    margin-top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #6DECAF;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0  4px  25px    -22px   black;
    border: none;
}
.formulario_input{
    border-radius: 8px;
}


@media screen and (max-width:800px){
    
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .move-container-all{
        transform: translateX(300px);
    }
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background:  #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20 -25px  black  ;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }
    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
       max-width: 200px;
       height: 50px;
       justify-content: flex-start;

    }
    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
    #icon-menu{
        display: flex;
    }
}