@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

/* portada*/
.article-container-cover{
    
    height: 500px;
    margin-left: 0px;
    position: relative;
    margin-top: 80px;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.article-container-cover:before{
    content: "";
    width: 100%;
    height: 100%;
    background-image:url(../images/portada.jpeg);
    position: absolute;
    top: 0;
    left: 0;
}

.article-container-info-cover{
    width: 100%;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.article-container-info-cover .title{
    max-width: 300px;
    font-weight: 500;
    color: #fff;
    margin-top: 125px;
    margin-left: 30px;
    text-align: left;
    justify-content: left;
    align-items: left;
    display: flex;
    
    
}

.article-container-info-cover p{
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}



.container-content{
    font-family: 'Merriweather Sans', sans-serif;
}


.box{
    
    margin-top: 130px;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



 .subinfo i{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40%;
    font-size: 20px;   
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: purple;
   
}


.subinfo{
    
    margin-left: 55px;
    margin-right: 55px;
    height: 200px;
    width: 325px;
    box-shadow: -10px   0   20px   -30px    black ;
    border-radius: 4px;
    background-color: ivory;

}
.info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 5px;
}
.subinfo p{
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: dimgrey;
    
}
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
/*articulo*/
article{
    margin-top: 150px;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px   0   20px   -30px    black ;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

article:before{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd ;
}

article h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

.container-content article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

article img{
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width:1220px){

    
    .container-content{
        max-width: 1000px;
        padding: 0px    20px;
    }
}
@media screen and (max-width:1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    article{
        
        box-shadow: 0 0 0 0;
    }
    .container-aside{
        display: flex;
        justify-content: center;
    }
    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width:800px){
    .container-aside{
        flex-wrap: wrap;
    }
    .box{
        flex-direction: column;
        margin-top: 90px;
    }
    .subinfo{
        width: 100%;
        margin: 0;
        padding-top: 10px;
    }
    .subinfo i{
       
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article{
        margin-top: 510px;
    }
}